body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

nav {
    position: relative;
    float: left;
    width: 25%;
    padding: 20px;
    height: 100%;
    border: 2px solid black;
    border-radius: 4px;
    padding-top: 100px;
    margin-left: 1%;
    display: flex;
    flex-direction: column;

}


.popup-content{
    width: 400px;
    background-color: white;
    border-radius: 6px;
    position: fixed;
    top: 20%;
    left: 35%;
    visibility: hidden;
    text-align: center;
    padding: 0 30px 30px;
    height: 330px;
    color: black;
    border: 2px solid black;
    margin: center;
    z-index: 1;
    
}

.popup-content button {
    width: 100%;
    background: greenyellow;
    padding: 10px 0;
    margin-top: 25px;
    border: none;
    outline: none;
    font-size: 18px;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.popup-content h2 {
    font-weight: 500;
    font-size: 40px;
    margin: 30px 0 10px;
}

.newGameBtn{
    width: 55%;
    height: 50px;
    background-color: greenyellow;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 10px;
}

.recordBtn{
    width: 55%;
    height: 70px;
    background-color: greenyellow;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
}

.instructions{
    display: flex;
}


/* Style for the section containing clues */
#clues {
    background-color: #1e1e1e;
    color: #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

/* Style for the text inside the section */
#clues::before {
    content: "Clues";
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hex {
    float: left;
    margin-right: -13px;
    margin-bottom: -25px;
    position: relative;
}
.hex .left {
    float: left;
    width: 0;
    border-right: 15px solid #6C6;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
}

.hex .middle {
    float: left;
    width: 30px;
    height: 52px;
    background: #6C6;
}
.hex .right {
    float: left;
    width: 0;
    border-left: 15px solid #6C6;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
}
.hex-row {
    clear: left;
}
.hex.even {
    margin-top: 26.5px;
}

.hex-container{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


.hex .left.desert{
    float: left;
    width: 0;
    border-right: 15px solid yellow;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
}
.hex .right.desert {
    float: left;
    width: 0;
    border-left: 15px solid yellow;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
}
.hex .middle.desert {
    float: left;
    width: 30px;
    height: 52px;
    background: yellow;
}

.hex .left.forest{
    float: left;
    width: 0;
    border-right: 15px solid green;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
}
.hex .right.forest {
    float: left;
    width: 0;
    border-left: 15px solid green;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
}
.hex .middle.forest {
    float: left;
    width: 30px;
    height: 52px;
    background: green;
}

.hex .left.water{
    float: left;
    width: 0;
    border-right: 15px solid blue;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
}
.hex .right.water {
    float: left;
    width: 0;
    border-left: 15px solid blue;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
}
.hex .middle.water {
    float: left;
    width: 30px;
    height: 52px;
    background: blue;
}

.hex .left.swamp{
    float: left;
    width: 0;
    border-right: 15px solid purple;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
}
.hex .right.swamp {
    float: left;
    width: 0;
    border-left: 15px solid purple;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
}
.hex .middle.swamp {
    float: left;
    width: 30px;
    height: 52px;
    background: purple;
}

.hex .left.mountain{
    float: left;
    width: 0;
    border-right: 15px solid grey;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
}
.hex .right.mountain {
    float: left;
    width: 0;
    border-left: 15px solid grey;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
}
.hex .middle.mountain {
    float: left;
    width: 30px;
    height: 52px;
    background: grey;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for accordion items */
.accordion-item {
    border: 2px solid #333;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #1e1e1e;
}

/* Style for accordion captions */
.accordion-caption {
    background-color: #333;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    color: #fff;
    transition: background-color 0.3s ease;
}

.accordion-caption:hover {
    background-color: #555;
}

/* Style for accordion content */
.accordion-content {
    display: none;
    padding: 15px;
    border-radius: 0 0 5px 5px;
    background-color: #2b2b2b;
    color: #ccc;
}

/* Style for active accordion content */
.accordion-content.active {
    display: block;
}

.instructions{
    display: flex;
}

.hex-dashed {
    border: 2px dashed black; /* Adjust border width and color */
    z-index: -1; /* Put inner hexagon behind the main one */
    /* overflow: hidden; */
}

.hex-solid{
    border: 2px solid red;
    z-index: -1;
}